* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top_side_div {
    display: flex;
    gap: 20px;
    color: white;
    margin-bottom: 40px;
}

.topsideTracks_img {
    width: 197px;
    height: 197px;
    border-radius: 4px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, .5);
}

.topside_trTope {
    font-weight: 400;
    font-size: 0.900rem;
}

.topsideTrName {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.topsideTrOwner {
    font-weight: 400;
    font-size: 0.900rem;
}

.spocify_logo_topSide {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.tracks_amount_div {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 8px;
}

.about_track_div_topSide {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.backdrop {
    background: linear-gradient(180deg, #d3d3d3 0%, #a9a9a9 50%, #404040 100%);
    width: 100%;
    height: 285px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    border-radius: 8px 8px 0 0 ;
}

.secondbgdrop {
    background: linear-gradient(180deg, #4f4f4f 0%, #3a3a3a 100%); /* Ярче серый */
    width: 100%;
    height: 235px;
    position: absolute;
    top: 285px;
    left: 0;
    z-index: -2;
    pointer-events: none;
}

.secondbgdrop::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #3a3a3a 0%, #121212 100%);
    z-index: -1;
}


.center_section {
    position: relative;
    z-index: 0;
}

.miniplayer_playBtn {
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #1ed760;
    padding: 20px;
}

.miniplayer_playBtn:hover {
    width: 57px;
    height: 57px;
    padding: 21px;
}

.miniplayerplaybtn_img {
    width: 16px;
    height: 16px;
}

.addtomediatekBtn svg {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.addtomediatekBtn svg:hover {
    width: 31px;
    height: 31px;
    fill: white;
}

.menu_dots svg {
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.menu_dots svg:hover {
    width: 29px;
    height: 29px;
    fill: white;
}

.miniplayer_playbtn_div {
    display: flex;
    gap: 30px;
    align-items: center;
}

.list_div {
    cursor: pointer;
    display: flex;
    gap: 8px;
    color: grey;
    font-weight: 400;

}

.list_div:hover {
    color: white;
}

.mini_player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 21px;
}


img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.left_side_tracks_div {
    display: flex;
    align-items: center;
    width: 460px;
    gap: 16px;
}

.img_name_div_track {
    display: flex;
    width: 266px;
}

li {
    list-style-type: none;
}

.trackName_track {
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

.trackName_track:hover {
    text-decoration: underline;
}

.publisher_name_class {
    cursor: pointer;
    color: #b3b3b3;
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 3px;
}

.publisher_name_class:hover {
    text-decoration: underline;
    color: white;
}

.albumName_cls {
    cursor: pointer;
    color: #b3b3b3;
    width: 170px;
    font-weight: 400;
    font-size: 0.875rem;
}

.albumName_cls:hover {
    color: white;
    text-decoration: underline;
}

.tracks_li {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
}

.tracks_img_cls {
    border-radius: 4px;
}

.right_side_div_cls {
    display: flex;
    align-items: center;
    width: 460px;
    justify-content: space-between;
    color: #b3b3b3;
    font-weight: 400;
    font-size: 0.875rem;
}

.added_at {
    width: 140px;
    margin-left: 40px;
}

.track_time {
    width: 70px;
}

.tracks_place_page li {
    border-radius: 4px;
}

.tracks_place_page li:hover {
  background: #2a2a2a;
}

.ol_footer_place {
    height: 260px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: grey #121212;
}

