* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  padding: 8px;
}

/* center_section */

.sections {
  display: flex;
  width: 100%;
  height: 645px;
  gap: 8px;
}

.home_search {
  max-width: 315px;
  height: 112px;
  background-color: #121212;
  border-radius: 8px;
}

.home_search_ul {
  padding: 16px 12px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home_search_li {
  padding: 4px 12px;
}

.my_methody {
  background-color: #121212;
  border-radius: 8px;
  padding: 0 8px 8px;
  max-height: 520px;
  height: 100%;
}

.methody_header {
  padding: 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.methody_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  padding: 4px 8px;
  background: none;
  border: none;
  color: grey;
  font-size: 1rem;
  font-weight: 700;
  transition: .2s ease-in;
  font-family: "Roboto", sans-serif;
  img {
      max-width: 20px;
  }
}

.methody_btn:hover {
  color: white;
  transition: .2s ease-in;
}

.addPlaylist {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: none;
  border: none;
  color: grey;
  font-size: 28px;
  transition: .2s ease-in;
}

.addPlaylist:hover {
  transition: .2s ease-in;
  background: #191919;
  color: white;
}

.menuAside {
  width: 315px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 700px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_playlist {
  display: flex;
  flex-direction: column;
  background: #1f1f1f;
  padding: 16px 20px;
  margin: 8px 0;
  border-radius: 8px;
  gap: 20px;
  min-height: 120px;
}

.firstListSpan {
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.secondListSpan {
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
}

.spans {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.doPlayListBtn {
  .pl_obzor {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 154px;
      height: 32px;
      border-radius: 15px;
      border: none;
      background: white;
      font-weight: 700;
      font-size: 0.875rem;
      transition: .1s ease-in;
  }
}

.pl_obzor:hover {
  width: 158px;
  height: 33px;
  border-radius: 20px;
  transition: .1s ease-in;
}

.obzor {
  width: 76px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  background: white;
  font-weight: 700;
  font-size: 0.875rem;
  transition: .1s ease-in;
}

.obzor:hover {
  width: 80px;
  height: 33px;
  transition: .1s ease-in;
}

.ListSections {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.anchor {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 20px;
  color: grey;
  transition: .2s ease-in;
  font-weight: 600;
}

.active_anchor {
  color: white;
}

.anchor:hover {
  color: white;
  transition: .2s ease-in;
}


.center_section {
  max-width: 1200px;
  min-width: 550px;
  width: 100%;
  height: 641px;
  border-radius: 8px;
  padding: 0 20px;
  background-color: #121212;
}

/* sectionsFooter */

.center_section_header {
  display: flex;
  height: 64px;
  justify-content: space-between;
}

.premium {
  width: 200px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-weight: 700;
  font-size: 0.845rem;
  border: 0;
  background: white;
  cursor: pointer;
}

.loadApp {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-weight: 700;
  font-size: 0.845rem;
  border: 0;
  background-color: transparent;
  background: #1f1c1c;
  text-decoration: none;
  color: white;
}

.app_premiumBtns {
  display: flex;
  gap: 8px;
  align-items: center;
}

.something_new {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  background: #1f1c1c;
}

.svgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dYnaPI {
  fill: grey;
  width: 16px;
  height: 16px;
}

.something_new:hover {
  width: 33px;
  height: 33px;
  .dYnaPI {
    fill: white;
  }
}

.avatarBtn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  background: #1f1c1c;
  img {
    width: 16px;
    height: 16px;
  }
}

.back {
  display: flex;
  justify-content: center;
  align-items: center ;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  background: #1f1c1c;
  img {
    width: 9px;
    height: 16px;
  }
}

.next {
  display: flex;
  justify-content: center;
  align-items: center ;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  background: #1f1c1c;
  img {
    width: 9px;
    height: 16px;
  }
}

.avatarBtn:hover {
  width: 33px;
  height: 33px;
}

.latest_pages_nav {
  display: flex;
  gap: 8px;
  align-items: center;
}
/* playbtn_div */

.types_btn {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.typesButton {
  padding: 6px 12px;
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  border-radius: 15px;
  background: #373737;
  border: 0;
}

.active_btn {
  background: white;
  color: black;
}

.listen_this_shows {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  height: 515px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: grey #121212;
  section {
    overflow-x: auto;
    scrollbar-width: none;
    height: 300px !important;
    min-height: 300px;
    width: 770px !important;
    width: 100%;
    margin-bottom: 0;
  }
  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
  }
}



.showImg {
  width: 143px;
  height: 143px;
  border-radius: 6px;
}

.showname {
  text-align: left !important;
  font-weight: 400;
  font-size: 0.930rem;
  color: white;
  max-width: 152px;
  margin-top: 10px;
}

.showname:hover {
  text-decoration: underline;
}

.shows_Section {
  display: flex;
  margin-bottom: 60px;
}


.sectionsimgdiv {
  cursor: pointer;
  text-align: left;
  position: relative;
  padding-block: 12px;
  padding-inline: 12px;
  border-radius: 6px;
  min-height: 250px;
  max-height: 270px;
}



.playbtn_div {
  cursor: pointer;
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 105px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #1ed760;
  transition: opacity .2s ease-in, visibility .2s ease-in, top .2s ease-in, transform .2s ease-in;
  transform: translateY(10px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.playbtn {
  width: 18px;
  height: 18px;
}

.sectionsimgdiv:hover {
  background-color: #1f1f1f;
  .playbtn_div {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.svedeniya_aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  min-width: 280px;
  height: 641px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: grey #121212;
  background-color: #121212;
  border-radius: 8px;
  padding: 8px 16px;  
}

.player_section {
  background: white;
  height: 72px;
  background-color: #000;
  padding: 10px;
  justify-content: space-between;
}

.publisher {
  text-align: left !important;
  color: #b3b3b3;
  font-weight: 400;
  font-size: 0.850rem;
  text-align: left;
  margin-top: 5px;
}

.top_playlistsSection {
  display: flex;
  margin-bottom: 60px;
}

.popular_radio {
  display: flex;
  margin-bottom: 60px;
}

.rec_podbors {
  display: flex;
}

.spwrapped_div {
  display: flex;
}

.wrappedsp {
  text-decoration: none;
}

.listen_this_shows a {
    text-decoration: none;
    color: white;
}

.listen_this_shows a:hover {
  text-decoration: underline;
}

.footer_mainTxts {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1rem;
}

.sectionsFooter a {
  cursor: pointer;
  color: grey;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.sectionsFooter a:hover {
  color: white;
}

.sectionsFooter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.footer_columns_div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 125px;
  width: 100%;
}

.socs_div {
  display: flex;
  gap: 16px;
}

.socs_style_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1f1f1f;
  img {
    width: 20px;
    height: 20px;
  }
}

.socs_style_div:hover {
  background-color: #7C7C7A;
}

.name_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show_all_anchor {
  color: #b3b3b3 !important;
  font-weight: 700;
  font-size: 0.875rem;
}

.track_name {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  flex-grow: 1;
}

.same_name {
  color: white;
  font-size: 1.5rem;
}

.artist {
  color: grey;
  font-size: 1.125rem;
}

.track_img {
  border-radius: 10px;
  max-width: 306px;
  width: 100%;
  max-height: 306px;
  height: 100%;
}

.second_div {
  display: flex;
  gap: 16px;
  align-items: center;
}

.topside_div {
  display: flex;
  gap: 170px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.topside_div button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 0;
}

.topside_div button:hover {
  background: #191919;
}

.settings {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.settings:hover {
  background: #191919;
}

.same_name {
  margin-top: 15px;
}

.showImg_bigger {
  border-radius: 6px;
}

.sectionsimgdiv_bigger {
  padding: 16px 14px;
}

.for_names_addliketracks {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.addlike_track_Div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    fill: white;
  }
}

.addlike_track_Div:hover {
  svg {
    width: 17px;
    height: 17px;
  }
}

.svedeniya_div {
  max-width: 317px;
  width: 100%;
  padding: 16px;
  background: #1f1f1f;
  border-radius: 8px;
}

.svedeniya_top_side_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  h1 {
    color: white;
    font-weight: 700;
    font-size: 1rem;
  }
}

.svedeniya_top_side_div button {
  cursor: pointer;
  background: none;
  width: 100px;
  height: 32px;
  font-weight: 700;
  font-size: 0.865rem;
  color: white;
  border: 0;
}

.svedeniya_top_side_div button:hover {
  text-decoration: underline;
}

.sam_ispolnitel {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
}

.sam_ispolnitel:hover {
  text-decoration: underline;
}

.ispolnitel_div {
  max-width: 100px;
  width: 100%;
}

.producer_txt {
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  margin-top: 5px;
}

.subscribe_btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 0.875rem;
  width: 120px;
  height: 32px;
  border-radius: 15px;
  color: white;
  border: 1px solid white;
  background: none;
}

.ispolnitel_sub_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside_place {
  height: 641px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: grey #121212;
}

.subscribe_btn:hover {
  width: 130px;
  height: 34px;
  border: 1.25px solid white;
}

.next_text {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
}

.show_all_queue_text {
  cursor: pointer;
  background: none;
  width: 100px;
  height: 32px;
  font-weight: 700;
  font-size: 0.865rem;
  color: white;
  border: 0;
  width: 100%;
}

.show_all_queue_text:hover {
  text-decoration: underline;
}

.next_in_queue_top_side_div {
  display: flex;
  gap: 18px;
  margin-bottom: 14px;
}

.next_in_queue_div {
  margin-top: 16px;
}

.songName_img_div {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 280px;
  img {
    width: 56px;
    height: 56px;
    border-radius: 5px;
  }
}

.track_name_player {
  cursor: pointer;
  color: white;
  text-wrap: nowrap;
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 5px;
}

.track_name_player:hover {
  text-decoration: underline;
}

.ispolniyel_name_player {
  cursor: pointer;
  color: #b3b3b3;
  font-weight: 400;
  font-size: 0.80rem;
}

.ispolniyel_name_player:hover {
  text-decoration: underline;
}

.addFav_tracks_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: none;
  border: 0;
}

.addFav_tracks_btn:hover {
  svg {
    fill: white;
    width: 17px;
    height: 17px;
  }
}

.player_controls_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.player_controls_div button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: none;
  border: 0;
}

.player_controls_div button:hover {
  svg {
    fill: white;
  }
}

.play_Btn_player {
  margin-left: 11px;
  margin-right: 11px;
  background-color: white !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  img {
    width: 15px;
    height: 15px;
  }
}

.player_place {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player_range[type="range"] {
  /* -webkit-appearance: none; */
  height: 2px;
  width: 500px;
  background: #b3b3b3;
}


.player_range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  background: #1ed760 !important;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -1px;
  border: 2px solid white; /* Сохраняем белую границу */
}

.player_range[type="range"]::-moz-range-thumb {
  background: #1ed760;
  border: 2px solid white;
}


.volume_div_btn_img_div {
  width: 23x;
  height: 23px;
}

.player_settings_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.player_settings_div button {
  cursor: pointer;
  background: none;
  border: 0;
}

.volume_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  input[type="range"] {
    height: 3px;
    width: 93px;
    background: #b3b3b3;
  }
}

.popular_artists {
  display: flex;
  .sectionsimgdiv {
    height: 250px;
  }
  .showImg {
    border-radius: 50%;
  }
}

.adapted_menu svg {
  cursor: pointer;
  width: 32px;
  height: 32px;
  fill: white;
}

.adapted_headerPlace {
  display: none;
}

.adaptedHeader {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  color: white;
  justify-content: space-between;
}

.menu_nav_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 0.6875rem;
  img {
    width: 24px;
    height: 24px;
  }
}

.menu_nav_div svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.navs_divs {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.adapted_nav_menu {
  display: none;
  padding-top: 10px;
}

.sectionsFooter {
  padding-bottom: 90px;
}

.adapted_player_place {
  width: 100%;
  top: 20px;
  display: none;
  img {
    width: 24px;
    height: 24px;
  }
  button {
    background: none;
    border: 0;
  }
}

.adapted_player_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: grey;
  border-radius: 6px;
  padding: 6px;
}

.img_name_div_adapted {
  display: flex;
  color: white;
  gap: 8px;
  img {
    border-radius: 4px;
  }
}

.adapted_track_cls {
  width: 40px !important;
  height: 40px !important;
}

.players_div_menu {
  min-height: 72px;
  max-height: 110px;
}