* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  padding: 8px;
}

.sections {
  display: flex;
  width: 100%;
  height: 645px;
  gap: 8px;
}

.home_search {
  max-width: 315px;
  height: 112px;
  background-color: #121212;
  border-radius: 8px;
}

.home_search_ul {
  padding: 16px 12px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home_search_li {
  padding: 4px 12px;
}

.my_methody {
  background-color: #121212;
  border-radius: 8px;
  padding: 0 8px 8px;
  max-height: 520px;
  height: 100%;
}

.methody_header {
  padding: 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.methody_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  padding: 4px 8px;
  background: none;
  border: none;
  color: grey;
  font-size: 1rem;
  font-weight: 700;
  transition: .2s ease-in;
  font-family: "Roboto", sans-serif;
  img {
      max-width: 20px;
  }
}

.methody_btn:hover {
  color: white;
  transition: .2s ease-in;
}

.addPlaylist {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: none;
  border: none;
  color: grey;
  font-size: 28px;
  transition: .2s ease-in;
}

.addPlaylist:hover {
  transition: .2s ease-in;
  background: #191919;
  color: white;
}

.menuAside {
  width: 315px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 700px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_playlist {
  display: flex;
  flex-direction: column;
  background: #1f1f1f;
  padding: 16px 20px;
  margin: 8px 0;
  border-radius: 8px;
  gap: 20px;
  min-height: 120px;
}

.firstListSpan {
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.secondListSpan {
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
}

.spans {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.doPlayListBtn {
  .pl_obzor {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 154px;
      height: 32px;
      border-radius: 15px;
      border: none;
      background: white;
      font-weight: 700;
      font-size: 0.875rem;
      transition: .1s ease-in;
  }
}

.pl_obzor:hover {
  width: 158px;
  height: 33px;
  border-radius: 20px;
  transition: .1s ease-in;
}

.obzor {
  width: 76px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  background: white;
  font-weight: 700;
  font-size: 0.875rem;
  transition: .1s ease-in;
}

.obzor:hover {
  width: 80px;
  height: 33px;
  transition: .1s ease-in;
}

.ListSections {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.anchor {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 20px;
  color: grey;
  transition: .2s ease-in;
  font-weight: 600;
}

.active_anchor {
  color: white;
}

.anchor:hover {
  color: white;
  transition: .2s ease-in;
}


.center_section {
  max-width: 1200px;
  min-width: 700px;
  width: 100%;
  height: 641px;
  border-radius: 15px;
  padding: 0 20px;
  background-color: #121212;
}

.center_section_header {
  display: flex;
  height: 64px;
  justify-content: space-between;
}

.premium {
  width: 200px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-weight: 700;
  font-size: 0.845rem;
  border: 0;
  background: white;
  cursor: pointer;
}

.loadApp {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-weight: 700;
  font-size: 0.845rem;
  border: 0;
  background-color: transparent;
  background: #1f1c1c;
  text-decoration: none;
  color: white;
}

.app_premiumBtns {
  display: flex;
  gap: 8px;
  align-items: center;
}

.something_new {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  background: #1f1c1c;
}

.svgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dYnaPI {
  fill: grey;
  width: 16px;
  height: 16px;
}

.something_new:hover {
  width: 33px;
  height: 33px;
  .dYnaPI {
    fill: white;
  }
}

.avatarBtn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  background: #1f1c1c;
  img {
    width: 16px;
    height: 16px;
  }
}

.back {
  display: flex;
  justify-content: center;
  align-items: center ;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  background: #1f1c1c;
  img {
    width: 9px;
    height: 16px;
  }
}

.next {
  display: flex;
  justify-content: center;
  align-items: center ;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  background: #1f1c1c;
  img {
    width: 9px;
    height: 16px;
  }
}

.avatarBtn:hover {
  width: 33px;
  height: 33px;
}

.latest_pages_nav {
  display: flex;
  gap: 8px;
  align-items: center;
}


.types_btn {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.typesButton {
  padding: 6px 12px;
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  border-radius: 15px;
  background: #373737;
  border: 0;
}

.active_btn {
  background: white;
  color: black;
}

.listen_this_shows {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  height: 515px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin; /* Для Firefox */
  scrollbar-color: grey #121212; /* Цвета для скроллбара и его фона */
  /* scrollbar- */
  /* scrollbar-width: 0; */
  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
  }
}



.showImg {
  width: 143px;
  height: 143px;
  border-radius: 6px;
}

.showname {
  font-weight: 400;
  font-size: 0.930rem;
  color: white;
  max-width: 152px;
  margin-top: 10px;
}

.shows_Section {
  display: flex;
  margin-bottom: 60px;
}

.sectionsimgdiv {
  cursor: pointer;
  position: relative;
  display: flex;
  padding-block: 12px;
  padding-inline: 12px;
  flex-direction: column;
  min-width: 168px;
  padding-bottom: 10px;
  align-items: center;
  border-radius: 6px;
}


.playbtn_div {
  cursor: pointer;
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 100px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #1ed760;
  transition: opacity .2s ease-in, visibility .2s ease-in, top .2s ease-in, transform .2s ease-in;
  transform: translateY(10px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.playbtn {
  width: 18px;
  height: 18px;
}

.sectionsimgdiv:hover {
  background-color: #1f1f1f;
  .playbtn_div {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.svedeniya_aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 630px;
  min-width: 280px;
  height: 641px;
  background-color: #121212;
  border-radius: 8px;
  padding: 8px 16px;
}

.player_section {
  background: white;
  height: 72px;
}

.player_section {
  background-color: #000;
  padding: 10px;
}

.publisher {
  color: #b3b3b3;
  font-weight: 400;
  font-size: 0.850rem;
  text-align: left;
  margin-top: 5px;
}

.top_playlistsSection {
  display: flex;
  margin-bottom: 60px;
}

.popular_radio {
  display: flex;
  margin-bottom: 60px;
}

.rec_podbors {
  display: flex;
  margin-bottom: 60px;
}

.spwrapped_div {
  display: flex;
}

.wrappedsp {
  text-decoration: none;
}

.listen_this_shows a {
    text-decoration: none;
    color: white;
}

.listen_this_shows a:hover {
  text-decoration: underline;
}

.footer_mainTxts {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1rem;
}

.sectionsFooter a {
  cursor: pointer;
  color: grey;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.sectionsFooter a:hover {
  color: white;
}

.sectionsFooter {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.footer_columns_div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 125px;
  width: 100%;
}

.socs_div {
  display: flex;
  gap: 16px;
}

.socs_style_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1f1f1f;
  img {
    width: 20px;
    height: 20px;
  }
}

.socs_style_div:hover {
  background-color: #7C7C7A;
}

.name_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show_all_anchor {
  color: #b3b3b3 !important;
  font-weight: 700;
  font-size: 0.875rem;
}

.track_name {
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.same_name {
  color: white;
  font-size: 1.5rem;
}

.artist {
  color: grey;
  font-size: 1.125rem;
}

.track_img {
  border-radius: 10px;
  max-width: 306px;
  width: 100%;
  max-height: 306px;
  height: 100%;
}

.second_div {
  display: flex;
  gap: 16px;
  align-items: center;
}

.topside_div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.topside_div button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 0;
}

.topside_div button:hover {
  background: #191919;
}

.settings {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.settings:hover {
  background: #191919;
}

.same_name {
  margin-top: 15px;
}

.showImg_bigger {
  width: 160px;
  height: 160px;
  border-radius: 6px;
}

.sectionsimgdiv_bigger {
  padding-block: 16px;
  padding-inline: 16px;
}